{% extends 'index.html' %}
{% block content %}
{% if form %}
<div class="container new"><br><br>
  <h1 class="ht">ADD DETAILS</h1><br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="form col-md-6 p-3 shadow-lg">
      <form class="form-group" method="POST">
        {% csrf_token %}
        {{form.as_p}}
      <button class="btn btn-primary"> REGISTER</button>
      </form>
    </div>
  <div class="col-md-3"></div>
  </div>
</div>
{% endif %}
<div class="container">
  <h1>Orders</h1>
{% for i in yourorder %}
<div class="row" style="margin-top:20px;margin-bottom:20px;border-bottom:1px solid #000">
  <div class="col-md-2">
    {{i.name}}
  </div>
  <div class="col-md-2">
    {{i.seller}}
  </div>
  <div class="col-md-1">
    {{i.amount}}
  </div>
  <div class="col-md-1">
    {{i.price}}
  </div>
  <div class="col-md-1">
    {{i.bill}}
  </div>
  <div class="col-md-1">
    {{i.tax}}
  </div>
  <div class="col-md-1">
    {{i.total}}
  </div>
  <div class="col-md-2">
    {{i.orderstatus}}
  </div>
  <div class="col-md-1">
    {% ifequal i.orderstatus "DELIVERED" %}
    <a href="/feedback/{{i.comcode}}" class="btn btn-warning">FEEDBACK</a>
    {% endifequal %}
  </div>
</div>
{% endfor %}
</div>
{% if commodities %}
<div class="container">
<div class="row">
{% for i in commodities %}
<div class="col-md-4">
  <a href="/onecom/{{i.comcode}}/">
  <div class="commodity shadow">
      <div class="c-img">
  <img src="/media/{{i.image}}" alt="" height="300" width="100%">
</div>
  <div class="c-name">{{i.name}}</div>
  <div class="c-amount">{{i.amount}} kg in stock</div>
  <div class="c-price">&#8377 {{i.priceperkg}} <span> / kg</span> </div>
</div>
</a>
</div>
{% endfor %}
  </div>
</div>
{% endif %}
{% if orderforyou %}
{% for i in orderforyou %}
<div class="row" style="margin-top:20px;margin-bottom:20px;border-bottom:1px solid #000">
  <div class="col-md-2">
    {{i.name}}
  </div>
  <div class="col-md-2">
    {{i.seller}}
  </div>
  <div class="col-md-1">
    {{i.amount}}
  </div>
  <div class="col-md-1">
    {{i.price}}
  </div>
  <div class="col-md-1">
    {{i.bill}}
  </div>
  <div class="col-md-1">
    {{i.tax}}
  </div>
  <div class="col-md-1">
    {{i.total}}
  </div>
  <div class="col-md-2">
    {{i.orderstatus}}
  </div>
  <div class="col-md-1">
    {% ifequal i.orderstatus "DELIVERED" %}
    <a href="/feedback/{{i.comcode}}" class="btn btn-warning">FEEDBACK</a>
    {% endifequal %}
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
